<div class="row view-product white card">
    <div class="col s12">
        <h2 class="header">{{product.name}}</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{product.image}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h4>Precio: ${{product.price}}</h4>
                    <h5>Unidades disponibles: {{product.stock}}</h5>
                </div>
                <div class="card-action">
                    <a [routerLink]="['/spa/catalogo']" class="btn light-blue darken-4">Atras</a>
                </div>
            </div>
        </div>
    </div>
</div>
