<div class="row">
    <div class="col s12 m7">
        <div class="card">
        <div class="card-image">
            <img src="{{settings.image}}">
        </div>
        <div class="card-content">
            <span class="card-title">{{settings.name}}</span>
            <p>Precio: {{settings.price}}</p>
            <p>Unidades disponibles: {{settings.stock}}</p>
        </div>
        <div class="card-action">
            <a href="#">Ver mas</a>
            <a href="#">Añadir al carrito</a>
        </div>
        </div>
    </div>
</div>