<div class="container">
  <div class="row center-align">
    <form class="col offset-s3 s6 middle">
      <div class="row from-back">
        <h3 class="grey-text lighten-5">Inicia sesion</h3>
        <div class="col s12 ">
          <div class="input-field inline">
            <input id="email" type="email" class="validate grey-text lighten-5">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="col s12">
          <div class="input-field inline">
            <input id="password" type="password" class="validate grey-text lighten-5">
            <label for="password">Password</label>
            <span class="helper-text" data-error="Error en el inicio de sesion"></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
